<div class="main-content">
  <div class="container-fluid">

      <div class="row">

          <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon" data-header-animation="true">
                      <div class="card-icon">
                          <i class="material-icons">bug_report</i>

                      </div>
                      <p class="card-category">Incidentes Globales</p>
                      <h3 class="card-title" style="font-size: xx-large;">350</h3></div>
                  <div class="card-footer mt-1">
                      <div class="stats">
                          <i class="material-icons text-danger">refresh</i>
                          <span href="#pablo">Actualizar</span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg3 col-md-3 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-rose card-header-icon" data-header-animation="true">
                      <div class="card-icon">
                          <i class="material-icons">build</i>
                      </div>
                      <p class="card-category">Ingresadas</p>
                      <h3 class="card-title" style="font-size: xx-large;">150</h3>
                  </div>
                  <div class="card-footer mt-1">
                      <div class="stats">
                          <i class="material-icons text-danger">refresh</i>
                          <span href="#pablo">Actualizar</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon" data-header-animation="true">
                      <div class="card-icon">
                          <i class="material-icons">done_all</i>
                      </div>
                      <p class="card-category">Resueltas</p>
                      <h3 class="card-title"style="font-size: xx-large;">90</h3>
                  </div>
                  <div class="card-footer mt-1">
                      <div class="stats">
                          <i class="material-icons text-danger">refresh</i>
                          <span href="#pablo">Actualizar</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">query_builder</i>
                      </div>
                      <p class="card-category">Pendientes</p>
                      <h3 class="card-title"style="font-size: xx-large;">50</h3>
                  </div>
                  <div class="card-footer mt-1">
                      <div class="stats">
                          <i class="material-icons text-danger">refresh</i>
                          <span href="#pablo">Actualizar</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">

          <div class="col-md-12 ml-auto mr-auto">
              <div class="card card-chart card-border-orage">

               
                    <div class="card-header card-header-icon card-header-info">
                            <div class="card-icon">
                                <i class="material-icons">business</i>
                            </div>
      
                          <div class="row">
      
                              <div class="col-md-12"> 
      
                                      <h4 class="card-title d-inline pr-0" style="vertical-align: -webkit-baseline-middle;">Equipo Agil
                                              <small>Incidentes por Oficinas</small>
                                      </h4>
      
                                      <div style="display: -webkit-inline-box">
                                          
                                              <ul id="navOffice2" class="navbar-nav" style="display: contents;" >
      
                                                      <li class="nav-item dropdown">
                                                        <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                          <i class="material-icons text-info" style="line-height: 36px;">dashboard</i>
                 
                                                          <p>
                                                            <span class="d-lg-none d-md-block"></span>
                                                          </p>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                                          <a class="dropdown-item" (click)="reloadOfficeAgilR($event);" href="#">Resueltos del mes</a>
                                                          <a class="dropdown-item" href="#">Cancelados del mes</a>
                                                          <a class="dropdown-item" href="#">Pendientes</a>
      
                                                        </div>
                                                      </li>
                                                     
                                              </ul>
      
                                      </div>
                                    
                              </div>
                      
                          </div>
                 
                        </div>   
                        
      

                  <div class="card-body">

                      <div id="simpleBarChart1" class="ct-chart">

                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="row">

          <div class="col-md-12 ml-auto mr-auto">
              <div class="card card-chart card-border-orane">

                  <div class="card-header card-header-icon card-header-success">
                      <div class="card-icon">
                          <i class="material-icons">business</i>
                      </div>

                    <div class="row">

                        <div class="col-md-12"> 

                                <h4 class="card-title d-inline pr-0" style="vertical-align: -webkit-baseline-middle;">Equipo Mantenimiento
                                        <small>Incidentes por Oficinas</small>
                                </h4>

                                <div style="display: -webkit-inline-box">
                                    
                                        <ul id="navOffice" class="navbar-nav" style="display: contents;" >

                                                <li class="nav-item dropdown">
                                                  <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons text-success" style="line-height: 36px;">dashboard</i>
           
                                                    <p>
                                                      <span class="d-lg-none d-md-block"></span>
                                                    </p>
                                                  </a>
                                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" (click)="reloadOfficeIntraR($event);" href="#">Resueltos del mes</a>
                                                    <a class="dropdown-item" href="#">Cancelados del mes</a>
                                                    <a class="dropdown-item" href="#">Pendientes</a>

                                                  </div>
                                                </li>
                                               
                                        </ul>

                                </div>
                              
                        </div>
                
                    </div>
           
                  </div>

                  <div class="card-body">

                      <div id="simpleBarChart2" class="ct-chart"></div>

                  </div>
              </div>
          </div>

      </div>

      <div class="row">

          <div class="col-md-6">
              <div class="card card-border-orang">
                  <div class="card-header card-header-icon card-header-info pt-2">
                      <div class="card-icon">
                          <i class="material-icons">timeline</i>
                      </div>

                      <div class="row">
      
                        <div class="col-md-12"> 

                            <h4 class="card-title d-inline">Equipos Agiles
                                <small>Proyeccion Semestral</small></h4>
 
                                <div style="display: -webkit-inline-box">
                                    
                                        <ul id="navOffice2" class="navbar-nav" style="display: contents;" >

                                                <li class="nav-item dropdown">
                                                  <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons text-info" style="line-height: 26px;">dashboard</i>
           
                                                    <p>
                                                      <span class="d-lg-none d-md-block"></span>
                                                    </p>
                                                  </a>
                                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" (click)="reloadAGilS12m($event);" href="#">Resumen Anual</a>
                                                    <a class="dropdown-item" (click)="reloadAGil6m($event);" href="#">Semestral</a>
                                                    <a class="dropdown-item" (click)="reloadAGil1m($event);" href="#">Mes corriente</a>

                                                  </div>
                                                </li>
                                               
                                        </ul>

                                </div>
                              
                        </div>
                
                    </div>               

                  </div>
                  <div class="card-body chart-grey mt-0 mb-0">
                      <div id="colouredBarsChart1" class="ct-chart"></div>
                  </div>

                  <div class="card-footer pt-1 pb-2">

                    <div class="row">
                        <div class="col-md-12 pb-1">
                            <h6 class="card-category mb-0">Leyenda</h6>
                        </div>
                        <div class="col-md-12 my-auto pr-0">
                            <i class="fa fa-circle text-info px-1"></i>ingresos
                            <i class="fa fa-circle text-danger px-1"></i>pendientes
                            <i class="fa fa-circle text-success px-1"></i> resueltos
                        </div>

                    </div>

                  </div> 

                  <div class="card-footer d-none" style="padding-bottom: 10px;">
                      <div class="stats d-none d-md-block d-sm-block">
                          <i class="material-icons text-danger">timeline</i>
                          <span href="#pablo">Eliga un periodo:</span>
                      </div>

                  </div>

              </div>
          </div>

          <div class="col-md-6">

              <div class="card card-border-orang">
                  <div class="card-header card-header-icon card-header-success pt-2">

                      <div class="card-icon">
                          <i class="material-icons">timeline</i>
                      </div>
                      <h4 class="card-title d-inline">Mantenimiento Software
                <small>Proyeccion Semestral</small>
              </h4>

                <div style="display: -webkit-inline-box">
                                    
                <ul id="navOffice" class="navbar-nav" style="display: contents;" >

                        <li class="nav-item dropdown">
                          <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons text-success" style="line-height: 26px;">dashboard</i>

                            <p>
                              <span class="d-lg-none d-md-block"></span>
                            </p>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)="reloadIntra12m($event);" href="#">Resumen Anual</a>
                            <a class="dropdown-item" (click)="reloadIntra6m($event);" href="#">Semestral</a>
                            <a class="dropdown-item" (click)="reloadIntra1m($event);" href="#">Mes corriente</a>
                          </div>
                        </li>
                       
                </ul>

                </div>

                  </div>

                  <div class="card-body chart-grey mt-0 mb-0">
                      <div id="colouredBarsChart2" class="ct-chart"></div>
                  </div>

                  <div class="card-footer pt-1 pb-2">

                      <div class="row">
                          <div class="col-md-12 pb-1">
                              <h6 class="card-category mb-0">Leyenda</h6>
                          </div>
                          <div class="col-md-12 my-auto pr-0">
                              <i class="fa fa-circle text-info px-1"></i>ingresos
                              <i class="fa fa-circle text-danger px-1"></i>pendientes
                              <i class="fa fa-circle text-success px-1"></i> resueltos
                          </div>

                      </div>

                  </div>

                  <div class="card-footer d-none" style="padding-bottom: 10px;">

                      <div class="stats d-none d-sm-block">
                          <i class="material-icons text-danger">timeline</i>
                          <span href="#pablo">Eliga un periodo:</span>
                      </div>

                  </div>

              </div>
          </div>
      </div>

      <div class="row">

            <div class="col-md-6">

                <div class="card">

                    <div class="card-header card-header-text card-header-info">
                                    <i class="material-icons">done_all</i>
                        <div class="card-text">
                            <h4 class="card-title">Equipos Agil</h4>
                            <p class="card-category">Tiempos promedios de resolucion</p>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="col-lg-6 cards">
                        <div class="card card-pricing card-raised">
                            <div class="card-body">
                            <h6 class="card-category">E.T.A. Asignacion</h6>
                            <div class="card-icon icon">
                                <i class="material-icons">alarm_add</i>
                            </div>
                            <h3 class="card-title">2 dias</h3>
                            <p class="card-description">
                                Tiempo promedio entre la creacion del incidente y la asignacion correcta
                            </p>
                           
                            </div>
                        </div>
                        </div>

                        <div class="col-lg-6 cards">
                        <div class="card card-pricing card-raised">
                            <div class="card-body">
                            <h6 class="card-category">E.T.A Resolucion</h6>
                            <div class="card-icon icon-info">
                                <i class="material-icons">alarm_add</i>
                            </div>
                            <h3 class="card-title">5 dias</h3>
                            <p class="card-description">
                                    Tiempo promedio de resolucion de las incidencias, una vez que el grupo responsable lo activa.
                            </p>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-6">
          
                <div class="card">

                    <div class="card-header card-header-text card-header-success">
                        <div class="card-text">
                                <h4 class="card-title">Equipos Mantenimientos</h4>
                            <p class="card-category">Tiempos promedios de resolucion</p>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="col-lg-6 cards">
                        <div class="card card-pricing card-plane">
                            <div class="card-body">
                            <h6 class="card-category">E.T.A. Asignacion</h6>
                            <div class="card-icon icon">
                                <i class="material-icons">alarm_add</i>
                            </div>
                            <h3 class="card-title">3 dias</h3>
                            <p class="card-description">
                                    Tiempo promedio entre la creacion del incidente y la asignacion correcta
                            </p>
                            </div>
                        </div>
                        </div>

                        <div class="col-lg-6 cards">
                        <div class="card card-pricing card-raised">
                            <div class="card-body">
                            <h6 class="card-category">E.T.A. Resolucion</h6>
                            <div class="card-icon icon-success">
                                <i class="material-icons">alarm_add</i>
                            </div>
                            <h3 class="card-title">1 dia</h3>
                            <p class="card-description">
                                    Tiempo promedio de resolucion de las incidencias, una vez que el grupo responsable lo activa.
                            </p>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>

            </div>

      <div class="row" style="display: none">
          <div class="col-md-6">
              <p #pRef>

              </p>
          </div>
          <div class="col-md-6">
              <p></p>
          </div>
      </div>

      <div class="row" style="display: none">
          <button class="mat-raised-button">jquery</button>
      </div>

      <div id="rowToogle" class="row" style="display: none">

          <div class="col-md-6 ml-auto mr-auto text-center">

              <app-child></app-child>

          </div>
      </div>

  
  
  
  
  
   
   
   
   
   
   
   
   
   
   
   
   
   
    </div>

</div>